# Environment variables
# Add your API keys and configuration here
ELEVENLABS_API_KEY=your elevenlabs api key

# GEMINI_API_KEY=AQ.Ab8RN6JK4RN2MyLq7-hxy8g3P5TILXaRR5L_25TaMaHxvbQFFw

DEEPGRAM_API_KEY=your deepgram api key

PEXELS_API_KEY=your pexels api key

GROQ_API_KEY=your groq api key


OPENROUTER_API_KEY=your openrouter api key
# OpenRouter model to use
OPENROUTER_MODEL=your openrouter model

# This is GOOGLE_CLOUD_API_KEY
GEMINI_API_KEY=your gemini api key

GCP_PROJECT_ID=your-project-id

GCP_LOCATION=us-central1
